@charset "UTF-8";

/*==========Google Fonts==========*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

/*==========Reset CSS==========*/
*, ::before, ::after {
    margin: 0;
    padding: 0;
    border: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

/*==========Root==========*/
:root {
    --principal-font: 'Poppins', sans-serif;
    --blue-color: hsl(184, 50%, 60%);
    --yellow-color: hsl(42, 98%, 55%);
    --black-color: hsla(240, 1%, 14%, 0.7);
    --gray-color: hsl(0, 0%, 40%);
    --gray-light: hsl(0, 0%, 57%);
    --blue-dark: hsl(243, 95%, 8%);
    --black-dark: hsl(214, 10%, 14%);
    --black-new: hsl(240, 100%, 6%);
    --white-1: hsl(0, 0%, 100%);
    --white-2: hsl(0, 0%, 98%);
    --white-10: hsla(0, 0%, 100%, 0.1);
    --jet-color: hsl(225, 4%, 21%);

    --fs-1: 3.2rem;
    --fs-2: 2.4rem;
    --fs-3: 2.2rem;
    --fs-4: 2rem;
    --fs-5: 1.8rem;
    --fs-6: 1.4rem;
    --fs-7: 1.3rem;
    --fs-8: 1rem;

    --fw-400: 400;
    --fw-500: 500;
    --fw-700: 700;

    --section-padding: 60px;

    --radius-circle: 50%;
    --radius-pill: 200px;

    --transition-1: 0.25s ease;
    --transition-2: 0.5s ease;
    --cubic-in: cubic-bezier(0.51, 0.03, 0.64, 0.28);
    --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);
    --cubic-anim: cubic-bezier(0.455, 0.030, 0.515, 0.955);
}

/*==========Base==========*/
html {
    font-size: 10px;
    scroll-behavior: smooth;
}
body {
    font-family: var(--principal-font);
    background: var(--black-new);
    color: var(--white-1);
    font-size: 1.6rem;
    line-height: 1.5;
}
a, img, span, time, data, input, button, i {
    display: block;
}
a {
    color: inherit;
}
img {
    height: auto;
}
input, button {
    background: none;
    font: inherit;
    color: inherit;
}
input {
    width: 100%;
}
input::-webkit-search-cancel-button {
    display: none;
}
button {
    cursor: pointer;
}

/*==========Layout==========*/
:focus-visible {
    outline-offset: 4px;
}
i {
    pointer-events: none;
}
::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: rgb(250, 250, 250);
}
::-webkit-scrollbar-thumb {
    background: hsl(42, 98%, 55%);
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(42, 98%, 45%);
}
.container {
    padding-inline: 15px;
}
.section {
    padding-block: var(--section-padding);
}
.has-bg-image {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.h1, .h2, .h3 {
    font-weight: var(--fw-500);
    line-height: 1.25;
}
.h1 {
    font-size: var(--fs-1);
}
.h2 {
    font-size: var(--fs-2);
}
.h3 {
    font-size: var(--fs-6);
}
.has-before, .has-after {
    position: relative;
    z-index: 1;
}
.has-before::before, .has-after::after {
    content: '';
    position: absolute;
    z-index: -1;
}
.btn {
    font-size: var(--fs-7);
    font-weight: var(--fw-500);
    max-width: max-content;
    border: 1px solid var(--white-1);
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 18px 30px;
    border-radius: var(--radius-pill);
    transition: var(--transition-1);
}
.btn i {
    font-size: 16px;
}
.btn:is(:hover, :focus) {
    background: var(--blue-color);
    border-color: var(--blue-color);
}
.w-100 {
    width: 100%;
}
.grid-list {
    display: grid;
    gap: 20px;
}
.section-title, .section-text {
    text-align: center;
}
.section-text {
    font-size: var(--fs-6);
}
.img-holder {
    overflow: hidden;
    border: 2px solid var(--blue-color);
}
.img-cover {
    width: 100%;
    height: 100%;
}
.product-card {
    position: relative;
}
.product-card .card-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: var(--blue-color);
    color: var(--white-1);
    font-weight: var(--fw-700);
    text-transform: uppercase;
    padding: 3px 8px;
    border-radius: var(--radius-pill);
    z-index: 1;
}
.product-card .card-banner {
    position: relative;
}
.product-card .card-action {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 15px;
    background: var(--blue-color);
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.0);
    padding: 10px 15px;
    border-radius: var(--radius-pill);
    transition: var(--transition-2);
    opacity: 0;
}
.product-card:is(:hover, :focus) .card-action {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
}
.product-card .action-btn {
    font-size: 18px;
    transition: var(--transition-1);
}
.product-card :is(.action-btn, .card-title):is(:hover, :focus) {
    color: var(--blue-color);
}
.product-card .card-content {
    padding: 10px;
}
.product-card .h3 {
    font-weight: var(--fw-400);
}
.product-card .card-title {
    transition: var(--transition-1);
}
.product-card .card-price {
    color: var(--blue-color);
    margin-block: 10px 5px;
}
.product-card .rating-wrapper {
    display: flex;
    gap: 5px;
    color: var(--yellow-color);
}
.has-scrollbar {
    display: flex;
    gap: 10px;
    overflow-x: auto;
    scroll-snap-type: inline mandatory;
    padding-block-end: 20px;
    margin-block-end: -20px;
}
.scrollbar-item {
    min-width: 100%;
    scroll-snap-align: start;
    padding: 20px;
}
.has-scrollbar::-webkit-scrollbar {
    height: 10px;
}
.has-scrollbar::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0);
    border: 1px solid var(--yellow-color);
    border-radius: 5px;
}
.has-scrollbar::-webkit-scrollbar-thumb {
    background: var(--yellow-color);
    border-radius: 5px;
}
.has-scrollbar::-webkit-scrollbar-button {
    width: 10%;
}

/*==========Header==========*/
.header-top :is(.input-wrapper, .header-action-btn:last-child), .header-contact-link {
    display: none;
}
.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--black-new);
    z-index: 4;
}
.header.active {
    position: fixed;
    transform: translateY(-100%);
    animation: slideInTop .5s ease forwards;
}

@keyframes slideInTop {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}

.header-top {
    padding-block: 25px;
}
.header .container {
    padding-inline: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    display: flex;
    align-items: center;
    gap: .5rem;
    font-weight: 900;
    text-transform: uppercase;
}
.logo img {
    width: 20px;
}
.header-action {
    display: flex;
    align-items: center;
    gap: 10px;
}
.header-action-btn, .nav-open-btn {
    font-size: 24px;
    transition: var(--transition-1);
}
.header-action :is(.header-action-btn, .nav-open-btn):is(:hover, :focus) {
    color: var(--blue-color);
}
.header-action-btn {
    position: relative;
}
.header-action-btn .span {
    position: absolute;
    top: -15px;
    right: -8px;
    background: rgb(255, 0, 0);
    font-size: var(--fs-8);
    min-width: 18px;
    min-height: 18px;
    border-radius: var(--radius-circle);
    display: grid;
    place-items: center;
}
.header-bottom {
    position: fixed;
    top: 0;
    right: -300px;
    max-width: 320px;
    width: 100%;
    height: 100vh;
    background: var(--black-new);
    padding: 30px 5px;
    transition: 0.25s var(--cubic-in);
    visibility: hidden;
    z-index: 1;
}
.header-bottom.active {
    transform: translateX(-300px);
    transition: .5s var(--cubic-out);
    visibility: visible;
}
.nav-close-btn {
    position: absolute;
    top: -1px;
    left: -41px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    display: grid;
    place-items: center;
    transition: var(--transition-1);
}
.nav-close-btn:is(:hover, :focus) {
    color: var(--yellow-color);
}
.navbar-top {
    position: relative;
    margin-block-end: 40px;
    border-radius: 5px;
}
.navbar-top, .input-field {
    font-size: var(--fs-6);
    padding: 10px;
}
.navbar-top .search-btn {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    padding-inline: 15px;
}
.navbar-list {
    padding-block: 5px;
}
.navbar-link {
    padding-block: 10px;
    transition: var(--transition-1);
}
.navbar-link:is(:hover, :focus) {
    color: var(--black-color);
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.63);
    opacity: 0;
    pointer-events: none;
    transition: var(--transition-1);
}
.overlay.active {
    opacity: 1;
    pointer-events: all;
}

/*==========Hero==========*/
.hero .play-btn {
    display: none;
}
.hero {
    padding-block-start: 90px;
    background-position: left;
}
.hero .container {
    display: grid;
    gap: 20px;
}
.hero-title::after {
    bottom: -15px;
    left: 0;
    width: 70px;
    height: 5px;
    background: var(--blue-color);
}
.hero-text {
    margin-block: 40px;
}
.hero .btn{
    margin-inline: auto;
}
.hero-banner {
    max-width: 300px;
    margin-inline: auto;
}

/*==========Feature==========*/
.feature {
    padding-block: 0;
}
.feature-card {
    display: flex;
    align-items: center;
    padding: 15px 25px;
    gap: 25px;
}
.feature-card .card-icon {
    width: 60px;
    flex-shrink: 0;
}
.feature-card:hover .card-icon {
    animation: shake .5s var(--cubic-anim) both;
}

@keyframes shake {
    0%, 100% {
        transform: rotate(0);
        transform-origin: 50% 50%;
    }
    10%, 90% {
        transform: rotate(4deg);
    }
    20%, 40%, 60% {
        transform: rotate(-6deg);
    }
    30%, 50%, 70% {
        transform: rotate(6deg);
    }
    80% {
        transform: rotate(-4deg);
    }
}

.feature-card .card-title {
    margin-block-end: 5px;
}
.feature-card .card-text {
    color: var(--blue-color);
}

/*==========Featured==========*/
.featured .section-text {
    margin-block: 10px 50px;
}
.featured .container {
    padding: 10px 40px;
}
.featured .grid-list {
    gap: 10px;
}

/*==========Offer==========*/
.offer {
    text-align: center;
}
.offer .section-subtitle {
    font-size: var(--fs-3);
}
.offer .section-title {
    color: var(--blue-color);
    font-size: var(--fs-2);
    margin-block: 20px 30px;
}
.countdow-list {
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-block: 25px 40px;
}
.cuntdown-time {
    font-size: var(--fs-5);
    margin-block-end: 8px;
}
.offer .btn {
    padding-block: 12px;
    margin-inline: auto;
}

/*==========Popular==========*/
.popular .section-text {
    margin-block: 10px 40px;
}
.filter-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px 10px;
    margin-block-end: 40px;
}
.filter-btn {
    font-size: var(--fs-5);
    padding: 5px 20px;
    transition: var(--transition-1);
}
.filter-btn.active {
    color: var(--blue-color);
}

/*==========Blog==========*/
.blog {
    padding-block-start: 0;
}
.blog .section-text {
    margin-block: 15px 50px;
}
.blog-card {
    text-align: center;
    border: 1px solid var(--blue-color);
    border-radius: 5px;
    padding: 10px;
}
.blog-card .card-content {
    padding: 0 15px 10px;
}
.blog-card .h3 {
    font-size: var(--fs-4);
    font-weight: var(--fw-400);
    margin-block: 25px 20px;
}
.blog-card .card-title {
    transition: var(--transition-1);
}
.blog-card .card-title:is(:hover, :focus) {
    color: var(--blue-color);
}
.blog-card .card-meta-list {
    display: flex;
    justify-content: center;
    padding-block: 15px 20px;
    border-block-start: 1px solid var(--blue-color);
}
.blog-card .meta-item {
    display: flex;
    align-items: center;
    color: var(--gray-light);
}
.blog-card .meta-link {
    font-size: var(--fs-7);
    transition: var(--transition-1);
}
.blog-card a.meta-link:is(:hover, :focus) {
    color: var(--blue-color);
}
.blog-card .meta-item:not(:last-child)::after {
    content: '/';
    display: block;
    margin-inline: 8px;
}
.blog-card .card-text {
    font-size: var(--fs-6);
    margin-block-end: 15px;
}
.blog-card .btn {
    margin-inline: auto;
    padding-block: 12px;
}

/*==========Footer==========*/
.footer-top {
    border-block-end: 1px solid var(--gray-color);
}
.footer-text {
    margin-block: 15px 30px;
}
.social-list {
    display: flex;
    gap: 20px;
}
.social-link {
    font-size: 25px;
    transition: var(--transition-1);
}
.social-link:is(:hover, :focus) {
    color: var(--blue-color);
}
.footer-top .container {
    gap: 40px;
}
.footer-list-title {
    font-size: var(--fs-5);
    font-weight: var(--fw-700);
    margin-block-end: 15px;
}
.footer-link {
    margin-block-start: 10px;
    transition: var(--transition-1);
}
.footer-link:is(:hover, :focus) {
    color: var(--blue-color);
}
.footer-bottom {
    text-align: center;
    padding-block: 20px;
}
.copy {
    font-size: var(--fs-6);
    margin-block-end: 20px;
}
.footer-bottom .w-100 {
    max-width: max-content;
    margin-inline: auto;
}